<br><h3 class="titulo text-center">Asistencia en las principales marcas</h3>
<div class="cartas">
    
    <div class="card1 text-center  text-black rounded" style="width:100px">
        <img class="card-img-top" src="/assets/imagenes/asus.png" alt="Card image">   
    </div>

    <div class="card2 text-center  text-black rounded" style="width:100px">
        <img class="card-img-top" src="/assets/imagenes/dell.png" alt="Card image">
    </div>

    <div class="car3 text-center  text-black rounded" style="width:100px">
        <img class="card-img-top" src="/assets/imagenes/hp.png" alt="Card image">
    </div>
    <div class="car4 text-center  text-black rounded" style="width:100px">
        <img class="card-img-top" src="/assets/imagenes/sam.png" alt="Card image">
    </div>
</div>
<div class="borde1"></div>

