/* .contenedor{
    margin: 42px;
    padding: 10px;
} */

.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 181px 0px 171px 0px ;  
   
}
.container{
    max-width: 1820px !important;
}