<form class="form_historico-Admin" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h6>Historico Administrador</h6>
    <br>
    <br>
    <div class="select_margin mb-3 row text">
        <label for="exampleInputEmail1" class="form-label text col">Nombre de Técnico: </label>
        <select class="custom-select form-control" id="inputGroupSelect01" formControlName="nombtecnico">
           <option>Seleccione el técnico:</option>
           <option *ngFor="let tecnico of tecnicos">{{tecnico}}</option>
        </select>
        <div class="w-100"></div>
     </div>

    <br>
    <div class="select_margin mb-3 row text">
        <label for="exampleInputEmail1" class="form-label text col">Ordenes abiertas: </label>
        <select class="custom-select" id="inputGroupSelect01">
        <option>Seleccione Orden de servicio:</option>
        <option *ngFor="let orden of ordenAbiertas">dispositivo: {{orden.tipoDispositivo}}</option>
        </select>
        <div class="w-100"></div>
    </div>
    <div class="select_margin mb-3 row text">
        <label for="exampleInputEmail1" class="form-label text col">Ordenes cerrada: </label>
        <select class="custom-select" id="inputGroupSelect01" >
        <option>Seleccione Orden de servicio:</option>
        <option></option>
        </select>
        <div class="w-100"></div>
    </div>
    <br>
    <br>
    <div>
        <button type="submit" class="btn btn-primary">Consultar</button>
    </div>
</form>
