<div class="cartas">
    <div class="card1" style="width:400px">
        <img class="card-img-top" src="/assets/imagenes/equipo7.jpg" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Portatil ASUS</h4>
            <p class="card-text">$1.600.000</p>
            <a [routerLink]="['/carrito']" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card2" style="width:400px">
        <img class="card-img-top" src="/assets/imagenes/equipo2.jpg" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">PC escritorio</h4>
            <p class="card-text">$2.500.000</p>
            <a [routerLink]="['/carrito']" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card3" style="width:400px">
        <img class="card-img-top" src="/assets/imagenes/equipo3.jpg" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">PC Gamer</h4>
            <p class="card-text">$2.800.000</p>
            <a [routerLink]="['/carrito']" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card4" style="width:400px">
        <img class="card-img-top" src="/assets/imagenes/equipo4.jpg" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">PC Gamer</h4>
            <p class="card-text">$3.000.000</p>
            <a [routerLink]="['/carrito']" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card5" style="width:400px">
        <img class="card-img-top" height=400 src="/assets/imagenes/equipo5.jpg" alt="Card image">
        <div class="card-body">
        <h4 class="card-title">Portatil Lenovo</h4>
        <p class="card-text">$200.000</p>
        <a [routerLink]="['/carrito']" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card6" style="width:400px">
        <img class="card-img-top" height=400 src="/assets/imagenes/equipo6.jpg" alt="Card image">
        <div class="card-body">
        <h4 class="card-title">Portatil HP</h4>
        <p class="card-text">$500.000</p>
        <a [routerLink]="['/carrito']" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>
