<div class="form_orden-servicio">
  <div class="header-text">
</div>

<div class="form">
  <h1> Orden de servicio</h1>
  <br>
  <div class="container-button-orden-servicio">
    <h6>Fecha</h6>
    <h6>Hora</h6>
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col">Nombre del cliente</div>
      <textarea class="form-control col" aria-label="With textarea"></textarea>
      <div class="w-100"></div>

      <div class="col">Telefono</div>
      <textarea class="form-control col" aria-label="With textarea"></textarea>
      <div class="w-100"></div>

      <div class="col">Documento</div>
      <textarea class="form-control col" aria-label="With textarea"></textarea>
      <div class="w-100"></div>

      <div class="col">Codigo del servicio:</div>
      <textarea class="form-control col" aria-label="With textarea"></textarea>
      <div class="w-100"></div>

      <div class="mb-3">
        <div>
         <label for="exampleInputEmail1" class="form-label">cod_tecnico</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Tecnico...</option>
        </select>
      </div>

      <div class="col">Marca de dispositivo:</div>
      <textarea class="form-control col" aria-label="With textarea"></textarea>
      <div class="w-100"></div>

      <div class="col">Tipo de dispositivo:</div>

        <div class="form-check col">
          <input class="form-check-input col" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="form-check col">
          <label class="form-check-label col" for="flexRadioDefault1">
          Pc
          </label>
        </div>

        <div class="form-check col">
          <input class="form-check-input col" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="form-check col">
          <label class="form-check-label col" for="flexRadioDefault1">
          Portatil
          </label>
        </div>

        <div class="form-check col">
          <input class="form-check-input col" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="form-check col">
          <label class="form-check-label col" for="flexRadioDefault1">
          Otro
          </label>
        </div>
        <div class="form-check col">
          <textarea class="form-control col" aria-label="With textarea"></textarea>
        </div>

      <div class="w-100"></div>

      <div class="col">Tipo de servicio:</div>

        <div class="form-check col">
          <input class="form-check-input col" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="form-check col">
          <label class="form-check-label col" for="flexRadioDefault1">
          Mantenimiento Preventivo
          </label>
        </div>

        <div class="form-check col">
          <input class="form-check-input col" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="form-check col">
          <label class="form-check-label col" for="flexRadioDefault1">
          Mantenimiento Correctivo
          </label>
        </div>

      <div class="w-100"></div>


      <div class="col">Accesorios:</div>

        <div class="form-check col">
          <input class="form-check-input col" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="form-check col">
          <label class="form-check-label col" for="flexRadioDefault1">
          Mouse
          </label>
        </div>

        <div class="form-check col">
          <input class="form-check-input col" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="form-check col">
          <label class="form-check-label col" for="flexRadioDefault1">
          Cable de energia
          </label>
        </div>

        <div class="form-check col">
          <input class="form-check-input col" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="form-check col">
          <label class="form-check-label col" for="flexRadioDefault1">
          Cargador
          </label>
        </div>

        <div class="form-check col">
          <input class="form-check-input col" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="form-check col">
          <label class="form-check-label col" for="flexRadioDefault1">
          Teclado
          </label>
        </div>

        <div class="w-100"></div>



        <div class="form-check col">
          <input class="form-check-input col" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
        <div class="form-check col">
          <label class="form-check-label col" for="flexRadioDefault1">
          Otro
          </label>
        </div>
        <div class="form-check col">
          <textarea class="form-control col" aria-label="With textarea"></textarea>
        </div>


        <div>
          <label for="exampleInputEmail1" class="form-label">Diagnostico Inicial</label>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>

        <div [routerLink]="['/asignacionTecnico']">
          <div class="mb-3"></div>
          <button type="registrarse" class="btn btn-primary">Guardar</button>
        </div>
    </div>
  </div>
  <br>

  </div>
