<div class="form_orden-servicio">
  <div class="header-text">
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1> Orden de servicio</h1>
  <br>
  <div class="container row">
    <h6 class="col">Fecha</h6>
    <h6 class="col">Hora</h6>
  </div>
    
  <div class="container">
    <div>
      <div class="row text">
        <label class="col">Nombre del cliente</label>
        <input type="text" class=" col form-control" formControlName="nombre" >
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col text">Telefono</label>
        <input type="text" class="form-control col" formControlName="telefono">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col text">Documento</label>
        <input type="text" class="form-control col" formControlName="cedula">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col text">Correo electronico:</label>
        <input type="email" class="form-control col" formControlName="email">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col text">serial_equipo:</label>
        <input type="email" class="form-control col" formControlName="serial_equipo">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col text">Codigo Tecnico:</label>
        <input type="text" class="form-control col" formControlName="codtecnico">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col text">Marca dispositivo:</label>
        <input type="text" class="form-control col" formControlName="serial_equipo">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="text">Tipos de disposivos:</label> 
        <div class="col">
          <div class="form-check form-check-inline">
            <input class="form-check-input " formControlName="tipodispositivo" type="radio"  id="inlineRadio1" value="Pc">
            <label class="form-check-label" for="inlineRadio1">Pc</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="tipodispositivo" type="radio" id="inlineRadio2" value="Portatil">
            <label class="form-check-label" for="inlineRadio2">Portatil</label>
          </div> 
          <div class="form-check form-check-inline">
            <input class="form-check-input " formControlName="tipodispositivo" type="radio"  id="inlineRadio1" value="Otro">
            <label class="form-check-label" for="inlineRadio1">Otro</label>
            <input type="text" class="form-control col" formControlName="tipodispositivo">
          </div>        
        </div>
        <div class="w-100"></div>  
      </div>

      <div class="row text">
        <label class="text">Tipo de servicio:</label> 
        <div class="col">
          <div class="form-check form-check-inline">
            <input class="form-check-input " formControlName="tipodispositivo" type="radio"  id="inlineRadio1" value="Mantenimineto preventivo">
            <label class="form-check-label" for="inlineRadio1">Mantenimineto preventivo</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="tipodispositivo" type="radio" id="inlineRadio2" value="Mantenimiento correctivo">
            <label class="form-check-label" for="inlineRadio2">Mantenimiento correctivo</label>
          </div>     
        </div>
        <div class="w-100"></div>  
      </div>

      <div class="row text">
        <label class="text">Accesorios:</label> 
        <div class="col">
          <div class="form-check form-check-inline">
            <input class="form-check-input " formControlName="tipodispositivo" type="radio"  id="inlineRadio1" value="Mouse">
            <label class="form-check-label" for="inlineRadio1">Mouse</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="tipodispositivo" type="radio" id="inlineRadio2" value="Cable de energia">
            <label class="form-check-label" for="inlineRadio2">Cable de energia</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="tipodispositivo" type="radio" id="inlineRadio2" value="cargador">
            <label class="form-check-label" for="inlineRadio2">Cargador</label>
          </div> 
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="tipodispositivo" type="radio" id="inlineRadio2" value="Teclado">
            <label class="form-check-label" for="inlineRadio2">Teclado</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input " formControlName="tipodispositivo" type="radio"  id="inlineRadio1" value="Otro">
            <label class="form-check-label" for="inlineRadio1">Otro</label>
            <input type="text" class="form-control col" formControlName="tipodispositivo">
          </div>        
        </div>
        <div class="w-100"></div>  
      </div>
      <div>
        <label for="exampleInputEmail1" class="form-label">Diagnostico Inicial</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>

        <div>
          <div class="mb-3"></div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </div> 
  </div>
</form>

