<app-nav></app-nav>
<app-banner></app-banner>
<app-franja-servicios></app-franja-servicios>
<div class="container ">
    <div class=" contenedor row justify-content-between">
        <app-card-accesorios class="col-3"></app-card-accesorios>
        <app-card-repuestos class="col-3"></app-card-repuestos>
        <app-card-equipos class="col-3"></app-card-equipos>
        <app-card-soporte class="col-3"></app-card-soporte>
    </div>
</div>
<app-franja-quienes></app-franja-quienes>
<app-quienesomos></app-quienesomos>
<app-info-tienda></app-info-tienda>
<app-redesociales></app-redesociales>
<app-footer></app-footer>