<app-nav></app-nav>
<app-banner></app-banner>
<div class="container ">
    <div class=" contenedor row ">
        <app-card-accesorios class="col-6"></app-card-accesorios>
        <app-card-repuestos  class="col-6"></app-card-repuestos>
        <app-card-equipos    class="col-6"></app-card-equipos>
        <app-card-soporte    class="col-6"></app-card-soporte>
    </div>
</div>
<app-franja-quienes></app-franja-quienes>
<app-quienesomos></app-quienesomos>
<app-info-tienda></app-info-tienda>
<app-redesociales></app-redesociales>
<app-franja-servicios></app-franja-servicios>
<app-footer></app-footer>