<div class="form_Registro">
    <div class="header-text">
      <h3>Registro</h3>
    <img class ="iconoU" src="/assets/imagenes/iconU.png">
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container-fluid">
    <div class="form-group">
      <label for="">Documento:</label>
      <input type="text"  placeholder="Documento"   class="form-control" formControlName="cedula" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="form-group">
      <label for="">Nombres:</label>
      <input type="text" placeholder="Nombres" class="form-control" formControlName="nombres" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="form-group">
      <label for="">Apellidos:</label>
      <input type="text" placeholder="Apellidos" class="form-control" formControlName="apellidos">
    </div>
      <br>
    <div class="form-group">
      <label for="">Correo electrónico:</label>
      <input type="email" placeholder="Ejemplo@correo.com" class="form-control" formControlName="email" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="form-group">
      <label for="">Contraseña:</label>
      <input type="password" placeholder="Tu contraseña" class="form-control" formControlName="password" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="container-button">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    <a class="atras" [routerLink]="['/login']">Volver al inicio de sesión</a>

</form>
<br>


