.container{
	width: 800px;
	padding: 10px;
}
ul, li {
padding: 0;
margin: 0;
list-style: none;
}
ul.slider{
	position: relative;
	width: 800px;
	height: 620px;
}
ul.slider li {
	position: absolute;
	left: 0px;
    top: 0px;
	opacity: 0;
	width: inherit;
background:#fff;
}
#slide1{
	text-align: center;
	color:black
}
#slide2{
	text-align: center;
	color:black
}
ul.slider li:first-child {
opacity: 1; /*Mostramos el primer <li>*/
}
ul.slider li:target {
	opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
.menu{
	text-align: center;
	margin: 30px;
}
.menu li{
	display: inline-block;
	text-align: center;
}
.menu li a{
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: deepskyblue;
	padding: 10px;
	width: 50px;
	height: 50px;
	font-size: 30px;
	border-radius: 100%;
}
