<div class="cartas">
   
  <div class="card text-center  text-white  rounded ">
    <img class="card-img-top" src="/assets/imagenes/bannerI.png" alt="">

    <div class="card1 text-center  text-black rounded" >
      <h2 class="card-title">Administrar roles</h2>
    </div>
      <div class="card-body ">
          <a [routerLink]="['/']" class="btn text-white">Agregar</a>
          <a [routerLink]="['/']" class="btn text-white">Actualizar</a>
          <a [routerLink]="['/']" class="btn text-white">Actualizar</a>
      </div>

  </div>
  
</div>
