.form_fact {
	background-color: rgba(232, 231, 231, 0.5);
	margin: 130px 0px 10px 380px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	position: static;/*  se cambio para evitar que se salda del recuadro*/
	top: 250px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 650px; /*tama単o del recuadro login*/
}
.form_fact:before {
	width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(2px);
}
.form_fact .header-text {
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}
.form_fact input {
	margin: 0px 0px; /*espacio entre los label*/
	border: none;
	padding: 5px;/*tama単o del label*/
	border-radius: 5px;
	width: 100%;
	font-size: 20px;/*tama単o de la letra*/
	font-family: Arial;/*tipo de fuente*/
}
.form_fact label {
	position: relative;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.form_fact label:before {
	
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: rgb(164, 172, 174);
}
.form_fact input[type=checkbox]:checked+label:before {
	content: "\2713";
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 20px;
}
.form_fact span {
	font-size: 14px;
}
.form_fact button {
	background-color: deepskyblue;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 20px;
	padding: 8px; /*tama単o del boton*/
	margin: 25px 0px; /*distancia entre el checbox y el boton*/
}
#CCompra{
text-align: center;
}