<div class="form_fact">
    <!-- <div>
      Productos a Facturar:<br>
      <br><tbody>
      {% for producto in productos %}
        <tr>
          <td><div class="fondo_texto2">{{producto[1] }} $ {{ producto[0]}}</div></td><br>
        </tr>
      {% endfor %}
    </tbody>
    </div> -->
    <h6 id="CCompra"> Productos a Facturar:
    <br>Estamos por terminar, unos datos más y listo
    </h6>

<form action="{#}" method="post">
    
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"></label>
    <input name="telefono" type="text" placeholder="Número de teléfono" class="form-control" id="exampleInputPassword1">
  </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"></label>
      <input name="direccion" type="text" placeholder="Dirección" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"></label>
      <input name="departamento" type="text" placeholder="Departamento" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"></label>
      <input name="municipio" type="text" placeholder="Municipio" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"></label>
      <input name="documento" type="text" placeholder="Documento" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-primary">Pagar</button>
    <a class="nav-link" href="{#}" id="CCompra">Cancelar Compra</a>
  </form>

  </div>
