<form class="form_admin-articulos" [formGroup]="form">
    <h3>Artículos Tienda</h3>
    <br>

    <div class="container">
        <div>
            <label class="form-label">Tipo de artículo:</label>
        </div>
        <br>
        <div>
            <div class="form-check form-check-inline col-lg-3">
                <input class="form-check-input " formControlName="tipodispositivo" type="radio"  id="inlineRadio1" value="E">
                <label class="form-check-label" for="inlineRadio1" >Equipo</label>
            </div>

            <div class="form-check form-check-inline col-lg-3">
                <input class="form-check-input " formControlName="tipodispositivo" type="radio"  id="inlineRadio1" value="P">
                <label class="form-check-label" for="inlineRadio1">Accesorios</label>
            </div> 

            <div class="form-check form-check-inline col-lg-3">
                <input class="form-check-input " formControlName="tipodispositivo" type="radio"  id="inlineRadio1" value="R">
                <label class="form-check-label" for="inlineRadio1">Repuestos</label>
            </div>
        </div>
        <br>
        <br>
        <div class="row text" >
            <div class="col-4">
                <label class="text">Id Producto:</label>
            </div>
            <div class="col-8">
                <input type="text" class=" tamano_input form-control" formControlName="idproducto" (change)="consultar()">
            </div>
        </div> 

        <div class="row text" >
            <div class="col-4">
                <label class="col">Nombre artículo:</label>
            </div>
            <div class="col-8">
                <input type="text" class="tamano_input form-control col" formControlName="nombre">
            </div>
        </div>
        <div class="row text" >
            <div class="col-4">
                <label class="col text">Cantidad:</label>
            </div>
            <div class="col-8">
                <input type="text" class=" tamano_input form-control col" formControlName="cantidad">
            </div>
        </div> 

        

        <div class="row text" >
            <div class="col-4">
                <label class="col text">Precio:</label>
            </div>
            <div class="col-8">
                <input type="text" class="tamano_input form-control col" formControlName="precio">
            </div>
        </div>

        <div class="row text" >
            <div class="col-4">
                <label class="form-label">Ruta imagen:</label>
            </div>
            <div class="col-8">
                <input type="text" class="tamano_input form-control col" formControlName="imagen">
            </div>
        </div> 
        <br>
        <div>
            <label class="form-label">Descripción:</label>
            <br>
            <br>
            <textarea class="form-control" formControlName="descripcionproductos" aria-label="With textarea"></textarea>
        </div>
        <br>
    </div>
    

    <div class="container-button-orden-servicio">
        <button type="submit" class="btn btn-primary" (click)="Crear()">Crear</button>
        <button type="submit" class="btn btn-primary" (click)="Actualizar()">Actualizar</button>
        <button type="submit" class="btn btn-primary" (click)="Eliminar()">Eliminar</button>
    </div>
</form>
