<div class="form_nueva_contrasena">  
    <div>  
        <div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Código de recuperación:</label>
                    <input type="text" class="form-control" formControlName="codigo" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label>Escribir nueva contraseña:</label>
                    <input type="password" class="form-control" formControlName="contrasena" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label>Confirmar contraseña</label>
                    <input type="password" class="form-control" formControlName="nuevacontrasena" aria-describedby="emailHelp">
                </div>
                <br>
                <div>
                    <div class="container_button">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>               
        </div>
    </div>
</div>

