<div class="form_nueva_contrasena">  
    <div>  
        <div>
            <form >
                <div class="form-group">
                    <label>Escribir nueva contraseña:</label>
                    <input type="password" class="form-control" formControlName="contraseña" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label>Confirmar contraseña</label>
                    <input type="password" class="form-control" formControlName="contraseña" aria-describedby="emailHelp">
                </div>
                <br>
                <form>
                    <div class="container_button">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </form>               
        </div>
    </div>
</div>

