<div class="cartas">
   
  <div class="card text-center  text-white  rounded ">
    <img class="card-img-top" src="/assets/imagenes/bannerI.png" alt="">

    <div class="card1 text-center  text-black rounded" >
      <h2 class="card-title">Historicos</h2>
    </div>
      <div class="card-body ">
          <a [routerLink]="['/historico-admin']" class="btn text-white">Ordenes abrirtas</a>
          <a [routerLink]="['/historico']" class="btn text-white">Informacion de dispositivo</a>
      </div>

  </div>
  
</div>