<div class="cartas">
   
    <div class="card text-center  text-white  rounded ">
      <img class="card" src="/assets/imagenes/bannerI.png" alt="">

          <div class="card1 text-center  text-black rounded" >
            <h4 class="card-title">¿Necesitas soporte técnico?</h4>
              <p>Danos una información básica
              <br>de lo que le sucede a tu equipo 
          </div>
          <div class="card-body">
              <a [routerLink]="['/']" class="btn text-white">Contáctanos</a>
          </div>
    </div>
    
  </div>
