
<div class="contenedor">
    <div class="cartas" *ngFor="let producto of productos">
        <div class="card1" style="width:400px">
            <div class="producto">
                 <img src="{{producto.rutaimagen}}"/>
            </div>
                <div class="card-body text-center">
                    <h3 class="card-title">{{producto.nombre}}</h3>
                    <h3 class="textoP card-text">{{producto.precio | currency:'COP':'$':'1.0'}}</h3>

                    <div class="indexof">
                        <button type="button" (click)="cantidad(productos.indexOf(producto), '-')">-</button>
                        <b>{{productos[productos.indexOf(producto)]["cantidad"]}}</b>
                        <button type="button" (click)="cantidad(productos.indexOf(producto), '+')">+</button><br><br>
                    </div>
                </div>
                    <div class="iconos">
                        <img src="/assets/imagenes/vaciar.png" class="imagen_anadir" (click)="quitarCarrito(productos.indexOf(producto))"/>
                        <a [routerLink]="['/detalleProducto',producto.idproducto]"><img src="/assets/imagenes/VerMas.png" class="imagen_anadir"></a>
                        <img src="/assets/imagenes/agregar.png" class="imagen_anadir"(click)="Carrito(productos.indexOf(producto))"/>
                        
                       
                    </div>    
                
        </div>
     </div>
 </div>
 <div class="pagar">
    <div class="d-grid gap-2 col-2 mx-auto">
        <a [routerLink]="['/carrito']" class="btn btn-primary"(click)="pagar()">Pagar</a>
        <button class="btn" type="button" (click)="formatearDiiconario()">Formatear diccionario</button>
    </div>
 </div>
