<div class="form_historico">
  <div class="header-text">
</div>

<form class="form">
    <h1> Historico</h1>
    <br>
    <div class="container row">
      <h6 class="lbl1 col">Fecha {{fecha}}</h6>
      <h6 class="lbl1 col">Hora {{hora}}</h6>
    </div>

    <div class="container">
      <div class="row text">
        <label class="col text">Nombre cliente:</label>
        <input type="text" class=" tamano_input form-control col" formControlName="cedula">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col">Telefono:</label>
        <input type="text" class="tamano_input form-control col" formControlName="nombres">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col">Marca dispositivo:</label>
        <input type="text" class="tamano_input form-control col" formControlName="nombres">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col">Tipo de dispositivo:</label>
        <input type="text" class="tamano_input form-control col" formControlName="nombres">
        <div class="w-100"></div>
      </div>

      <div class="row text">
        <label class="col">Accesorios del dispositivo</label>
        <input type="text" class="tamano_input form-control col" formControlName="nombres">
        <div class="w-100"></div>
      </div>

      <div>
        <label class="form-label">Diagnostico Inicial</label>
        <br>
        <br>
        <textarea class="form-control" formControlName="diaginicial" aria-label="With textarea"></textarea>
      </div>

      <div>
        <label class="form-label">Diagnostico Detallado</label>
        <br>
        <br>
        <textarea class="form-control" formControlName="diaginicial" aria-label="With textarea"></textarea>
      </div>

      <div>
        <div class="mb-3"></div>
        <button type="submit" class="btn btn-primary">Atras</button>
      </div>
  </div>
</form>


