0<div class="form_historico">
  <div class="header-text">
</div>


<div class="form">
    <h1> Historico</h1>
    <br>

    <div class="container-button-historico">
      <h6>Fecha</h6>
      <h6>Hora</h6>
    </div>


    <div class="container">
      <div class="row">
        <div class="col">Nombre del cliente</div>
        <textarea class="form-control col" aria-label="With textarea"></textarea>
        <div class="col">Codigo del servicio</div>
        <textarea class="form-control col" aria-label="With textarea"></textarea>
        <div class="w-100"></div>

        <div class="col">Celular</div>
        <textarea class="form-control col" aria-label="With textarea"></textarea>
        <div class="col">Código del Tecnico</div>
        <textarea class="form-control col" aria-label="With textarea"></textarea>
        <div class="w-100"></div>

        <div class="col">Marca de dispositivo</div>
        <textarea class="form-control col" aria-label="With textarea"></textarea>
        <div class="col">Código del servicio</div>
        <textarea class="form-control col" aria-label="With textarea"></textarea>
        <div class="w-100"></div>
        
        <div class="col">Tipo del dispositivo</div>
        <textarea class="form-control col" aria-label="With textarea"></textarea>
        <div class="col">Accesorios del dispositivo</div>
        <textarea class="form-control col" aria-label="With textarea"></textarea>
      </div>
    </div>
    <br>

    
<form action="{#}" method="post">
    <div class="mb-3">
      <h4>Diagnostico inicial</h4>
    </div>

    <div class="mb-3">
      <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione nulla eum maiores aliquid temporibus. Illum non similique rerum, ex temporibus, distinctio assumenda placeat odio architecto optio vel. Explicabo, unde reiciendis!
      Animi, vero provident! Et voluptate veritatis excepturi assumenda atque illum, odit porro. Laudantium cupiditate culpa voluptas autem nihil, porro tempore veniam corrupti ipsum animi, explicabo incidunt distinctio nostrum numquam quod.
      Eos nam ex rerum maxime beatae odio impedit eius totam quas esse necessitatibus reiciendis assumenda explicabo nihil, eaque fugit quia at alias aliquid iste sed culpa! Consequatur ipsum suscipit est!
      </h6>
      <br>
      <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis facere repudiandae dignissimos pariatur provident tempore facilis vel at magni. Rem magni fugiat illo dolore vel sequi molestiae beatae aliquid pariatur.</h6>
    </div>

    <div>
      <label for="exampleInputEmail1" class="form-label">Diagnostico detallado</label>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>

    <div class="container-historico-button container-button-historico">
      <button type="submit" class="form_historico_button">Guardar</button>
      <a class="form_historico_button" button href="{#}">Atras</a>
    </div>
  </form>
