<br>
<div class="form_Login">
    
    <div *ngIf="mostrarFormulario">
        <form *ngIf="!(autorizacion.isLoggedIn() | async)" [formGroup]="form" (ngSubmit)="onSubmit()" >

            <div class="form-group">
                <div class="header-text">
                    <img class="iconU" src="/assets/imagenes/iconU.png">
                </div>
                <input type="email" placeholder="Correo" class="form-control" formControlName="email" aria-describedby="emailHelp">
            </div>
            <br>
            <div class="form-group">
                <input type="password" placeholder="Contraseña" class="form-control" formControlName="password" aria-describedby="emailHelp">
            </div>

            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>

            <form [routerLink]="['/registro']">
                <div class="mb-3"></div>
                <br> <h4>¿No tienes una cuenta?</h4>
                <button type="registrarse" class="btn btn-primary">Registrarse</button>
            </form>
        </form>
        
        <h1 *ngIf="autorizacion.isLoggedIn() | async">Logueado exitosamente!</h1>
    </div>
    <br>
    <div *ngIf="mostrarSpinner" class="spinner-border text-primary" role="status">
        <span class="visually-hidden"></span>
    </div>