<div class="form_Login">  
    <div *ngIf="mostrarFormulario">
        <form *ngIf="!(autorizacion.isLoggedIn() | async)" [formGroup]="form" (ngSubmit)="onSubmit()" >

            <div class="form-group">
                <div class="header-text row">
                    <h2>Iniciar Sesión</h2>
                    <br>
                </div>
                <label>Correo electronico:</label>
                <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp">
            </div>
            <br>
            <div class="form-group">
                <label>Contraseña:</label>
                <input type="password" class="form-control" formControlName="password" aria-describedby="emailHelp">
            </div>


            <div class="container_button">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
             
            <form>
                <div class="mb-3 container_link">
                    <a [routerLink]="['/registro']">¿No tienes una cuenta?</a>
                    <a [routerLink]="['/']">¿Olvido su contraseña?</a>
                </div>
                <br>
            </form>
        </form>
        
        <h1 *ngIf="autorizacion.isLoggedIn() | async">Logueado exitosamente!</h1>
    </div>
    <br>
    <div *ngIf="mostrarSpinner" class="spinner-border text-primary" role="status">
        <span class="visually-hidden"></span>
    </div>

    