/* / .cartas{
    display: flex; 
    height: 26%;
    align-items: flex-start;

} */

.card1{
    
    background-color: rgb(4, 4, 24);
    
}

.btn{
    background-color:  rgba(231, 112, 15, 0.87);
    font-weight: bold;
    font-family: Arial;
 } 