<div class="cartas">
   
  <div class="card text-center  text-white  rounded ">
    <img class="card-img-top" src="/assets/imagenes/bannerI.png" alt="">

    <div class="card1 text-center  text-black rounded" >
      <h2 class="card-title">Generar ordenes de servicios</h2>
    </div>
      <div class="card-body ">
          <a [routerLink]="['/ordenServicio']" class="btn text-white">Crear</a>
          <a [routerLink]="['/']" class="btn text-white">Salida del equipo</a>
          <a [routerLink]="['/']" class="btn text-white">Eliminar</a>
      </div>

  </div>
  
</div>