
.form_olvide_contrasena {
	margin: auto auto;
	padding: 20px;
	top: 250px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 450px;
}



.form_olvide_contrasena button {
	background-color: #E28743;
	color: #fff;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	width: 30%;
	font-size: 15px;
	padding: 8px; /*tamaño del boton*/
	margin: 15px 0px; /*distancia entre el checbox y el boton*/
}

input{
	border-radius: 20px;
	text-align: left;
	margin-top: 10px;
	background-color: #D9D9D9;
  }

.container_button{
	display: flex;
	justify-content: center;
}


a{
	color: black;
}