<app-nav></app-nav>
<div *ngIf="mostrarFormulario">
    <div *ngIf="autorizacion.isAdmin() | async" class="container ">
        <div class=" contenedor row">
            <app-card-articulostienda class="col-3"></app-card-articulostienda>
            <app-card-ordenservicio class="col-3"></app-card-ordenservicio>

            <app-card-adminroles class="col-3"></app-card-adminroles>
            <app-card-historicos class="col-3"></app-card-historicos>
        </div>
    </div>
</div>



<app-footer></app-footer>
